@using ASPNETCOREMVC.TagHelpers


@{
    ViewData["Title"] = "HTMLTagHelperSample";
}

<h1>HTMLTagHelperSample</h1>

@Html.HelloWorld("Kevin")

@Html.HelloWorldHTMLString();

@Html.HelloWorldString();